body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial;
  text-align: center;
}

#menu {
  position: absolute;
  width: 100%;
  top: 40%;
}

button {
  padding: 12px 25px;
  font-size: 20px;
  cursor: pointer;
}

canvas {
  display: none;
  margin: auto;
}
