body {
  margin: 0;
  font-family: Arial;
  background: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.menu {
  text-align: center;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 18px;
  background: #222;
  color: white;
  border: 1px solid #555;
  cursor: pointer;
}

button:hover {
  background: #444;
}
